* {
    margin: 0;
    padding: 0;
    transition: 0.2s ease;
    

}

html {
        overflow-x: hidden;
        

}

.arama {
    background-color: white;
}

.div1 {
    background-color: #eeeeee ;
    margin-left: 5%;
    margin-right: 5%;

}
.input1 {
    margin: 3px;
}
.div2, .div3, .div4 {
    margin: auto; 
    
    
   
}
.div2 {    
    width: 33%;
    height: 69px;
    padding-top: 12px;
    text-align: center;
    background-color: #7EE5DA;
    float: left;
    margin-left: 5%;
    

}
.div3 {
    width: 20%;
    height: 81px;
    text-align: center;
    background-color: #70CCC2;
    float: left;
}
.div4 {
    width: 37%;
    height: 81px;
    padding: auto 0;
    text-align: center;
    background-color: #62B3AA;
    float: right;
    margin-right: 5%;
    
    
}
#font {
    position: relative;
    margin-top: 10px;
}
.archive {
    margin: 5px;
}