html{
    margin-left: 5%;
   margin-right: 5%;
   box-sizing: border-box;

    
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    margin: auto;
   
}

main {
    padding: 20px;
    background-color: #eeeeee;
    width: 80.5%;
    padding: 0%;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    
    
}
.div3 {
    background-color: #7EE5DA;
    margin-right: 5px;
    width: 25%;
    
}

.div4 {
    background-color: #70CCC2;
    width: 20%;
       
}

.div5 {
    background-color: #62B3AA;
    margin-left: 5px;
    width: 35%;
    
}

p {
    padding: 0%;
}


   





